<main class="Main">
  <h1 class="Main-title">
    <%= @form.name %>'s case
  </h1>

  <div class="EditCase">
    <%= form_for(@form, url: cases_dhs_path(@form.id), html: { class: "CaseForm Form" }) do |f| %>
      <%= render(partial: "fields", locals: { f: f, form: @form }) %>
      <%= f.submit(class: "Button--action") %>
    <% end %>

    <%= render(partial: "cases/documents", locals: { documents: @form.documents }) %>
  </div>
</main>
