<main class="Main">
  <h1 class="Main-title">
    <%= @form.name %>'s case
  </h1>

  <div class="EditCase">
    <%= form_for(@form, url: cases_dhs_path(@form.id), html: { class: "CaseForm Form" }) do |f| %>
      <%= f.section("Primary Residential Address", class: "CaseForm-address--read") do %>
        <% @form.address.each do |line| %>
          <p class="CaseForm-addressLine"><%= line %></p>
        <% end %>
      <% end %>

      <%= f.section("MDHHS", class: "CaseForm-dhs") do %>
        <%= f.field(:dhs_number, "Case #", class: "CaseForm-dhsNumber") do %>
          <%= f.text_field(:dhs_number) %>
        <% end %>
      <% end %>

      <%= f.section("Household", class: "CaseForm-household") do %>
        <%= f.field(:household_size, "Size", class: "CaseForm-householdSize") do %>
          <%= f.text_field(:household_size) %>
        <% end %>
        <%= f.field(:income, "Monthly Income", class: "CaseForm-monthlyIncome") do %>
          <%= f.text_field(:income) %>
        <% end %>
      <% end %>

      <%= f.submit(class: "Button--action") %>
    <% end %>

    <section class="CaseDocuments">
      <h1>Documents</h1>
      <ul class="CaseDocuments-list">
        <% if @form.documents.blank? %>
          <p>This case has no documents yet.</p>
        <% else %>
          <% @form.documents.each do |d| %>
            <li class="CaseDocument">
              <%- file_url = d.file.attached? ? url_for(d.file) : nil %>
              <% if file_url.nil? %>
                <p class="CaseDocument-placeholder">This file is being processed.</p>
              <% else %>
                <%= image_tag(file_url, height: 140, class: "CaseDocument-image") %>
              <% end %>
              <%= link_to("View Document", file_url || "", target: "_blank", rel: "noopener noreferrer") %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
  </div>
</main>
