<main class="ShowStats">
  <article class="ShowStats-quantitative ShowStats-split">
    <h1 class="ShowStats-title">Pilot Statistics <span>(Round 3)</span></h1>

    <% kase = @stats.most_recent_case %>
    <% if kase != nil %>
      <section class="ShowStats-case ShowStats-panel">
        <h1 class="ShowStats-panelTitle ShowStats-sectionTitle">
          <span>Most Recent Application</span>
        </h1>

        <p class="ShowStats-caseDescription">
          Opened by
          <%= kase.supplier.name %>,
          determined
          <%= time_ago_in_words(kase.completed_at) %>
          ago.
        </p>

        <div class="ShowStats-caseDuration Stat">
          <p class="Stat-value"><%= kase.minutes_to_determination %></p>
          <label class="Stat-label">
            Mins to
            <% if kase.approved? %>
              <span class="ShowStats-caseApproval">Approval</span>
            <% else %>
              <span class="ShowStats-caseDenial">Denial</span>
            <% end %>
          </label>
        </div>
      </section>
    <% end %>

    <section class="ShowStats-time ShowStats-panel">
      <h1 class="ShowStats-panelTitle ShowStats-sectionTitle">
        <span>Time to Determination</span>
      </h2>

      <div class="ShowStats-timeMin Stat">
        <p class="Stat-value"><%= @stats.min_minutes_to_determination %></p>
        <label class="Stat-label">Mins (Fastest)</label>
      </div>

      <div class="ShowStats-timeAvg Stat">
        <p class="Stat-value"><%= @stats.avg_minutes_to_determination %></p>
        <label class="Stat-label">Mins (Average)</label>
      </div>

      <div class="ShowStats-timeByPartner Chart">
        <label class="Chart-title">Average by Partner</label>

        <%= bar_chart_tag(class: "Chart-figure") do %>
          <%- @stats.avg_minutes_by_partner.each do |quantity| %>
            <%= bar_tag("#{quantity.count} mins", quantity.ratio, label: quantity.filter) %>
          <%- end %>
        <%- end %>
      </div>
    </section>

    <section class="ShowStats-applications ShowStats-panel">
      <h1 class="ShowStats-panelTitle ShowStats-sectionTitle">
        <span>Applications</span>
      </h1>

      <div class="ShowStats-applicationsEnrolled Stat">
        <p class="Stat-value"><%= @stats.percent_enrolled %> %</p>
        <label class="Stat-label">Approved</label>
      </div>

      <div class="ShowStats-applicationsSameDay Stat">
        <p class="Stat-value"><%= @stats.percent_same_day_determinations %> %</p>
        <label class="Stat-label">Same-day Determinations</label>
      </div>

      <div class="ShowStats-applicationsByUtility Chart">
        <%= pie_chart_tag(class: "Chart-figure") do %>
          <%- @stats.num_cases_by_supplier.reduce(0.0) do |filled, quantity| %>
            <%= pie_slice_tag(quantity.ratio, offset: filled, label: quantity.filter.name) %>
            <%- quantity.ratio + filled %>
          <%- end %>
        <%- end %>

        <label class="Chart-title">By Utility</label>
      </div>
    </section>
  </article>

  <article class="ShowStats-qualitative ShowStats-split">
    <h1 class="ShowStats-sectionTitle">
      <span>Recipient Feedback</span>
    </h1>

    <ul class="ShowStats-quotes">
      <% @stats.quotes.each do |quote| %>
        <li class="ShowStats-quote">
          <%= quote %>
        </li>
      <% end %>
    </ul>
  </article>
</main>
