<main class="ShowStats">
  <article class="ShowStats-quantitative ShowStats-split">
    <h1 class="ShowStats-title">Pilot Statistics <span>(Round 3)</span></h1>

    <section class="ShowStats-time ShowStats-panel">
      <h1 class="ShowStats-panelTitle ShowStats-sectionTitle">
        <span>Time to Determination</span>
      </h2>

      <div class="ShowStats-timeMin Stat">
        <p class="Stat-value"><%= @stats.min_minutes_to_determination %></p>
        <label class="Stat-label">Mins (Fastest)</label>
      </div>

      <div class="ShowStats-timeAvg Stat">
        <p class="Stat-value"><%= @stats.avg_minutes_to_determination %></p>
        <label class="Stat-label">Mins (Average)</label>
      </div>

      <div class="ShowStats-timeByPartner Chart">
        <label class="Chart-title">Average by Partner</label>

        <%= bar_chart_tag(class: "Chart-figure") do %>
          <%- @stats.avg_minutes_by_partner.each do |quantity| %>
            <%= bar_tag("#{quantity.count} mins", quantity.ratio, label: quantity.filter) %>
          <%- end %>
        <%- end %>
      </div>
    </section>

    <section class="ShowStats-applications ShowStats-panel">
      <h1 class="ShowStats-panelTitle ShowStats-sectionTitle">
        <span>Applications</span>
      </h2>

      <div class="ShowStats-applicationsEnrolled Stat">
        <p class="Stat-value"><%= @stats.percent_enrolled %> %</p>
        <label class="Stat-label">Enrolled</label>
      </div>

      <div class="ShowStats-applicationsSameDay Stat">
        <p class="Stat-value"><%= @stats.percent_same_day_determinations %> %</p>
        <label class="Stat-label">Same-day Determinations</label>
      </div>

      <div class="ShowStats-applicationsByUtility Chart">
        <label class="Chart-title">Applications by Utility</label>

        <%= pie_chart_tag(class: "Chart-figure") do %>
          <%- @stats.num_cases_by_supplier.reduce(0.0) do |filled, quantity| %>
            <%= pie_slice_tag(quantity.ratio, offset: filled, label: quantity.filter.name) %>
            <%- quantity.ratio + filled %>
          <%- end %>
        <%- end %>
      </div>
    </section>
  </article>

  <article class="ShowStats-qualitative ShowStats-split">
    <h1 class="ShowStats-sectionTitle">
      <span>Recipient Feedback</span>
    </h1>

    <ul class="ShowStats-quotes">
      <li class="ShowStats-quote">"Cohere is really great."</li>
      <li class="ShowStats-quote">"It was so easy!"</li>
    </ul>
  </article>
</main>
