<main class="Main SignIn">
  <div class="SignIn-title">
    <%= image_tag("logo-large-full", class: "SignIn-logo") %>
    <h2><%= t(".prompt") %></h2>
  </div>
  <%= form_for(:session, url: session_path, html: { class: "SignIn-form Form" }) do |f| %>
    <% if flash.notice.present? %>
      <p class="SignIn-error">
        <%= flash.notice %>
      </p>
    <% end %>

    <%= f.field(:email, t(".email-label")) do %>
      <% f.text_field(:email, type: "email", placeholder: t(".email-placeholder")) %>
    <% end %>

    <%= f.field(:password, t(".password-label")) do %>
      <% f.password_field(:password, placeholder: t(".password-placeholder")) %>
    <% end %>

    <%= f.submit(class: "SignIn-submit Button--action") %>
  <% end %>
</main>
