<%= tag.li(case_cell_options(cell)) do %>
  <div class="CaseCell-header">
    <%= link_to(cell.recipient_name, cell.show_path, class: "CaseCell-name") %>

    <% if cell.shows_assign? %>
      <%=
        button_to("Assign to Me",
          cell.assign_path,
          class: "CaseCell-assign ButtonSm Button--secondary"
        )
      %>
    <% else %>
      <p class="CaseCell-assignee">
        <%= cell.assignee %>
      </p>
    <% end %>
  </div>

  <div class="CaseCell-row">
    <p class="CaseCell-organizations">
      <%= cell.program_name %>, <%= cell.supplier_name %>
    </p>
  </div>

  <div class="CaseCell-footer">
    <p class="CaseCell-status">
      <%= cell.status %>
    </p>

    <p class="CaseCell-date">
      Updated <%= time_ago_in_words(cell.updated_at) %> ago
    </p>
  </div>
<%- end %>
