<main class="ShowCase Page">
  <header class="PageHeader">
    <%= back_link_tag %>

    <h1 class="PageHeader-title">
      <%= t(".title", name: @case.recipient_name) %>
    </h1>

    <div class="PageHeader-actions">
      <% if @case.can_complete? %>
        <%=
          button_to(t(".actions.approve.name"), @case.approve_path,
            method: :patch,
            class: "Button Button--action",
            data: { confirm: t(".actions.approve.confirm") },
          )
        %>

        <%=
          button_to(t(".actions.deny.name"), @case.deny_path,
            method: :patch,
            class: "Button Button--destructive",
            data: { confirm: t(".actions.deny.confirm") },
          )
        %>

        <%=
          button_to(t(".actions.return.name"), @case.return_path,
            method: :patch,
            class: "Button Button--secondary",
            data: { confirm: t(".actions.return.confirm") },
          )
        %>
      <% end %>
    </div>

    <div class="PageHeader-row PageHeader-filters">
      <nav class="Filters">
        <%= filter_for(:application, is_selected: true) %>
        <%= filter_for(:documents) %>
      </nav>
    </div>
  </header>

  <div class="CaseDetail CaseDetail--view">
    <article class="CaseDetail-case">
      <div class="CaseDetail-bar">
        <p class="CaseDetail-id">
          <%= @case.id_text %>
        </p>
      </div>

      <div class="CaseDetail-content">
        <section id="application" class="Panel-tab is-visible">
          <%- locals = { view: @case } %>

          <%= render(partial: "cases/detail/details", locals: locals) %>
          <%= render(partial: "cases/detail/contact", locals: locals) %>

          <% if permit?(:view_supplier_account) %>
            <%= render(partial: "cases/detail/supplier_account", locals: locals) %>
          <% end %>

          <%= render(partial: "cases/detail/household", locals: locals) %>
        </section>

        <section id="documents" class="Panel-tab">
          <%= render(partial: "cases/documents", locals: { documents: @case.documents }) %>
        </section>
      </div>
    </article>
  </div>
</main>
