<main class="ShowCase Page">
  <header class="PageHeader">
    <%= back_link_tag %>

    <h1 class="PageHeader-title">
      <%= t(".title", name: @case.recipient_name) %>
    </h1>
  </header>

  <div class="CaseDetail CaseDetail--view">
    <div class="CaseDetail-menu">
      <nav class="CaseDetail-filters Filters Filters--vertical">
        <%= filter_for(:application, selected: true) %>
        <%= filter_for(:documents) %>
        <%= filter_for(:case_notes) %>
      </nav>
    </div>

    <article class="CaseDetail-case">
      <div class="CaseDetail-bar">
        <p><%= @case.status_name %></p>
        <p><%= @case.id_text %></p>
      </div>

      <div class="CaseDetail-content">
        <%= filter_panel_tag(:application, visible: true) do %>
          <%- locals = { view: @case } %>
          <%= render(partial: "cases/detail/details", locals: locals) %>
          <%= render(partial: "cases/detail/contact", locals: locals) %>
          <%= render(partial: "cases/detail/benefit", locals: locals) %>

          <% if permit?(:view_supplier_account) %>
            <%= render(partial: "cases/detail/supplier_account", locals: locals) %>
          <% elsif permit?(:view_food) %>
            <%= render(partial: "cases/detail/food", object: @case, as: :kase) %>
          <% end %>

          <%= render(partial: "cases/detail/household", locals: locals) %>
        <%- end %>

        <%= filter_panel_tag(:case_notes) do %>
          <%= render(partial: "cases/notes", object: @case, as: :kase) %>
        <%- end %>

        <%= filter_panel_tag(:documents) do %>
          <%= render(partial: "cases/documents", locals: { documents: @case.documents }) %>
        <%- end %>
      </div>
    </article>
  </div>
</main>
