<main class="Page">
  <header class="PageHeader">
    <h1 class="PageHeader-title">
      <%= t(".title", name: @scope.name) %>
    </h1>

    <div class="PageHeader-actions">
      <%=
        button_to(t(".actions.new"), select_cases_path,
          method: :get,
          disabled: forbid?(:create),
          class: "Button Button--action",
          tid: "New Case Button",
        )
      %>

      <% if @demo_id == "s03" %>
        <%= demo_coachmark_tag(anchor: :right) do %>
          An applicant, Janice Sample, calls in and the CSR is ready to start a case.
        <%- end %>
      <% end %>
    </div>
  </header>

  <ul class="CaseList">
    <% if @cases.blank? %>
      <%= tag.h2(t(".list.fallback"), class: "CaseList-fallback") %>
    <% else %>
      <%= render(partial: "source/cases/cell", collection: @cases) %>

      <% if @demo_id == "s02" %>
        <%= demo_coachmark_tag(anchor: :bottom) do %>
          When they sign in, the CSR sees a list of cases they've created.
        <%- end %>
      <% end %>
    <% end %>
  </ul>

  <%= pager_for(@page, of: "cases") %>
</main>
