<main class="EditCase Page">
  <header class="PageHeader">
    <%= back_link_tag %>
    <%= tag.h1(t(".title"), class: "PageHeader-title") %>
  </header>

  <div class="CaseDetail CaseDetail--edit">
    <article class="CaseDetail-case">
      <%= form_for(@form, url: @case.new_path, html: { class: "CaseDetail-content" }) do |f| %>
        <%- form_locals = { f: f, form: @form, policy: policy } %>
        <%= f.hidden_field(:program_id) %>
        <%= hidden_field_tag(:temp_id, @case.temp_id.val) %>

        <%= render(partial: "cases/forms/contact", locals: form_locals) %>
        <%= render(partial: "cases/forms/address", locals: form_locals) %>

        <% if permit?(:edit_household) %>
          <%= render(partial: "cases/forms/household", locals: form_locals) %>
        <% end %>

        <% if permit?(:edit_supplier_account) %>
          <%= render(partial: "cases/forms/supplier_account", locals: form_locals) %>
        <% end %>

        <div class="Panel-actions">
          <%= f.submit("Save", class: "Button Button--action") %>
        </div>
      <%- end %>
    </article>
  </div>
</main>
