<main class="EditCase Page">
  <header class="PageHeader">
    <%= link_to("Back to Cases", :back, class: "PageHeader-back") %>

    <h1 class="PageHeader-title">
      Add a Case
    </h1>
  </header>

  <div class="CaseDetail CaseDetail--edit">
    <%- form_class = "CaseDetail-case" %>
    <%= form_for(@form, url: cases_path, html: { class: form_class }) do |f| %>
      <%- form_locals = { f: f, form: @form, policy: policy } %>
      <%= f.hidden_field(:program_id) %>

      <%= render(partial: "cases/forms/contact", locals: form_locals) %>
      <%= render(partial: "cases/forms/address", locals: form_locals) %>
      <%= render(partial: "cases/forms/household", locals: form_locals) %>

      <% if permit?(:edit_supplier_account) %>
        <%= render(partial: "cases/forms/supplier_account", locals: form_locals) %>
      <% end %>

      <div class="Panel-actions">
        <%= f.submit("Save", class: "Button Button--action") %>
      </div>
    <%- end %>
  </div>
</main>
