<main class="SelectProgram Page">
  <header class="PageHeader">
    <%= back_link_tag %>

    <h1 class="PageHeader-title">
      <%= t(".title") %>
    </h1>
  </header>

  <div class="CaseDetail">
    <div class="CaseDetail-case">
      <%= tag.p(t(".instructions"), class: "SelectProgram-instructions") %>

      <%= form_for(@form, url: @case.new_path, method: :get, html: { class: "SelectProgram-field BigField" }) do |f| %>
        <%= hidden_field_tag(:temp_id, @case.temp_id.val) %>

        <div class="BigField-input Select">
          <%=
            f.select(:program_id,
              @form.program_options,
              include_blank: t(".placeholder"),
              tid: "Program Select"
            )
          %>
        </div>

        <%=
          f.submit(t(".action"),
            class: "BigField-action",
            tid: "Select Program Button"
          )
        %>
      <%- end %>

      <% case @demo_id %>
      <% when "c02" %>
        <%= demo_coachmark_tag(t("demo.role.call-center.mark")[1], anchor: :right) %>
      <% end %>
    </div>
  </div>
</main>
