<main class="EditCase Page">
  <header class="PageHeader">
    <%= back_link_tag %>

    <h1 class="PageHeader-title">
      <%= @case.recipient_name %>'s case
    </h1>

    <div class="PageHeader-actions">
    </div>
  </header>

  <div class="CaseDetail CaseDetail--edit">
    <div class="CaseDetail-menu">
      <nav class="CaseDetail-filters Filters Filters--vertical">
        <%= filter_for(:profile, active: errors?(@form.contact, @form.contract), selected: true) %>
        <%= filter_for(:household, active: errors?(@form.address, @form.household)) %>

        <% if permit?(:edit_supplier_account) %>
          <%= filter_for(:accounts, active: errors?(@form.supplier_account)) %>
        <% end %>

        <%= filter_for(:documents, active: errors?(@form.documents)) %>
        <%= filter_for(:case_notes) %>
        <%= filter_for(:admin) %>
      </nav>

      <% if @case.can_remove? %>
        <%=
          button_to(t(".actions.remove.name"), @case.remove_path,
            name: :remove,
            method: :patch,
            class: "ButtonSm Button--destructive",
            data: { confirm: t(".actions.remove.confirm") },
          )
        %>
      <% end %>

      <% if @case.can_convert? %>
        <%=
          button_to(t(".actions.convert"), @case.select_path,
            method: :get,
            class: "ButtonSm Button--secondary",
          )
        %>
      <% end %>

      <% if @case.can_archive? %>
        <%=
          button_to(t(".actions.archive.name"), @case.archive_path,
            method: :patch,
            class: "ButtonSm Button--secondary",
            data: { confirm: t(".actions.archive.confirm") },
          )
        %>
      <% end %>

      <% if @case.can_make_referral? %>
        <%=
          button_to(t(".actions.referral"), @case.select_referral_path,
            method: :get,
            class: "ButtonSm Button--action",
          )
        %>
      <% end %>
    </div>

    <article class="CaseDetail-case">
      <div class="CaseDetail-bar">
        <p class="CaseDetail-id">
          <%= @case.id_text %>
        </p>
      </div>

      <%= form_for(@form, url: @case.update_path, html: { class: "CaseDetail-content" }) do |f| %>
        <% form_locals = { f: f, form: @form, view: @case } %>

        <%= filter_panel_tag(:profile, visible: true) do %>
          <%= render(partial: "cases/forms/details", locals: form_locals) %>
          <%= render(partial: "cases/forms/contact", locals: form_locals) %>

          <% if permit?(:edit_contract) %>
            <%= render(partial: "cases/forms/contract", locals: form_locals) %>
          <% end %>
        <%- end %>

        <%= filter_panel_tag(:household) do %>
          <%= render(partial: "cases/forms/address", locals: form_locals) %>
          <%= render(partial: "cases/forms/household", locals: form_locals) %>
        <%- end %>

        <% if permit?(:edit_supplier_account) %>
          <%= filter_panel_tag(:accounts) do %>
            <%= render(partial: "cases/forms/supplier_account", locals: form_locals) %>
          <%- end %>
        <% end %>

        <%= filter_panel_tag(:documents) do %>
          <%= render(partial: "cases/documents", locals: { documents: @form.documents.all }) %>
        <%- end %>

        <%= filter_panel_tag(:case_notes) do %>
          <%= render(partial: "cases/notes", object: @case, as: :kase) %>
        <%- end %>

        <%= filter_panel_tag(:admin) do %>
          <%= render(partial: "cases/forms/admin", locals: form_locals) %>
        <%- end %>

        <div class="Panel-actions">
          <%=
            f.submit(t(".actions.save"),
              class: "Button Button--action"
            )
          %>

          <% if @case.can_submit? %>
            <%=
              f.submit(t(".actions.submit.name"),
                name: :submit,
                class: "Button Button--secondary",
                data: { confirm: t(".actions.submit.confirm") },
              )
            %>
          <% elsif @case.can_complete? %>
            <%=
              f.submit(t(".actions.approve.name"),
                name: :approve,
                class: "Button Button--secondary",
                data: { confirm: t(".actions.approve.confirm") },
              )
            %>
            <%=
              f.submit(t(".actions.deny.name"),
                name: :deny,
                class: "Button Button--destructive",
                data: { confirm: t(".actions.deny.confirm") },
              )
            %>
          <%- end %>
        </div>
      <% end %>
    </article>

    <%=
      render(partial: "agent/cases/chat", locals: {
        chat: @case.chat,
        recevier: @case.recipient_first_name
      })
    %>
  </div>
</main>
