<% s = ::Cases::Scope %>

<main class="Page">
  <header class="PageHeader">
    <h1 class="PageHeader-title">
      <%= @scope.title %>
    </h1>

    <%= totals_for(@page, of: "cases") %>

    <div class="PageHeader-row PageHeader-filters">
      <nav class="Filters">
        <%= cases_scope_link_to(s::Assigned) %>
        <%= cases_scope_link_to(s::Queued) %>
      </nav>
    </div>
  </header>

  <ul id="case-list" class="CaseList">
    <% if @cases&.blank? %>
      <h2 class="CaseList-fallback">
        No <%= @scope.adjective %> cases found.
      </h2>
    <% else %>
      <%= render(partial: "agent/cases/cell", collection: @cases) %>
    <% end %>
  </ul>

  <%= pager_for(@page, of: "cases") %>
</main>
