<main class="SignIn Main">
  <div class="SignIn-panel">
    <div class="SignIn-left">
      <%= image_tag("logo-large-full.svg", height: 67, class: "SignIn-logo", alt: "Cohere Logo") %>

      <%= form_for(:session, url: sessions_path, html: { class: "SignIn-form Panel--empty Panel" }) do |f| %>
        <%= section_tag(class: "SignIn-credentials") do %>
          <%= f.field(:email, t("users.email.label"), class: "SignIn-email") do %>
            <% f.text_field(:email, type: "email", placeholder: t("users.email.placeholder")) %>
          <% end %>

          <%= f.field(:password, t("users.password.label"), class: "SignIn-password") do %>
            <% f.password_field(:password) %>
          <% end %>

          <div class="SignIn-helpers">
            <%= field_tag(:show_password, class: "SignIn-showPassword Field--bare Field--checkbox") do %>
              <%= check_box_tag(:show_password) %> Show Password?
            <% end %>

            <%= link_to(t(".forgot-password"), forgot_passwords_path, class: "SignIn-redirectLink") %>
          </div>
        <% end %>

        <%= section_tag(class: "SignIn-actions") do %>
          <%= f.submit(class: "SignIn-submit Form-submit Button Button--action") %>
        <% end %>
      <% end %>
    </div>

    <div class="SignIn-right">
      <div class="SignIn-title">
        <h1><%= t(".title") %></h1>
        <h2><%= t(".prompt") %></h2>
      </div>
    </div>
  </div>
</main>
