<main class="Main SignIn">
  <div class="SignIn-panel">
    <div class="SignIn-left">
      <header class="SignIn-title">
        <label class="SignIn-welcome">
          <%= t(".welcome") %>
        </label>
        <%= image_tag("logo-large-full.svg", height: 67, class: "SignIn-logo", alt: "Cohere Logo") %>
      </header>

      <%= form_for(:session, url: sessions_path, html: { class: "SignIn-form Form" }) do |f| %>
        <%= f.section(class: "SignIn-credentials") do %>
          <%= f.field(:email, t("users.email.label"), class: "SignIn-email") do %>
            <% f.text_field(:email, type: "email", placeholder: t("users.email.placeholder")) %>
          <% end %>

          <%= f.field(:password, t("users.password.label"), class: "SignIn-password") do %>
            <% f.password_field(:password, placeholder: t("users.password.placeholder")) %>
          <% end %>

          <%= link_to(t(".forgot-password"), forgot_passwords_path, class: "SignIn-forgotPassword") %>
        <% end %>

        <%= f.section(class: "SignIn-actions") do %>
          <%= f.submit(class: "SignIn-submit Button--action") %>
        <% end %>
      <% end %>
    </div>

    <div class="SignIn-right">
      <h1 class="SignIn-prompt">
        <%= t(".prompt").html_safe %>
      </h1>
    </div>
  </div>
</main>
