<%= section_tag(t(".title"), class: "CaseDocuments") do %>
  <ul class="CaseDocuments-list">
    <% if documents.blank? %>
      <%= tag.p(t(".list.fallback"), class: "CaseDocuments-fallback") %>
    <% else %>
      <% documents.each do |d| %>
        <li class="CaseDocument">
          <%- file_url = d.file.attached? ? url_for(d.file) : nil %>

          <% if file_url.nil? %>
            <% tag.p(t(".document.processing"), class: "CaseDocument-placeholder") %>
          <% else %>
            <%- image_url = file_url %>
            <%- image_url = d.file.attachment.representation(resize: "200x200>") if d.file.attachment.representable? %>
            <%= image_tag(image_url, height: 140, class: "CaseDocument-image") %>
          <% end %>

          <div class="CaseDocument-info">
            <label class="CaseDocument-classification">
              <%= d.classification.to_s.titlecase %>
            </label>

            <%=
              link_to(t(".document.action"), file_url || "",
                class: "CaseDocument-link",
                target: "_blank",
                rel: "noopener noreferrer"
              )
            %>
          <div class="CaseDocument-info">
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
