<% notes = kase.notes %>

<%= section_tag(t(".title"), class: "CaseNotes") do %>
  <div class="CaseNotes-actions">
    <%=
      button_tag(t(".action"),
        id: "add-note",
        class: "ButtonSm Button--secondary",
      )
    %>
  </div>

  <ul id="note-list" class="CaseNotes-list">
    <% notes.each do |note| %>
      <li class="CaseNote">
        <p><%= note.body %></p>
        <p class="CaseNote-metadata">
          <%= tag.span(note.user_email, class: "CaseNote-user") %>
          <%= time_tag(note.created_at, class: "CaseNote-timestamp") %>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render(partial: "cases/forms/note", object: kase, as: :kase) %>
