<main class="Main">
  <h1 class="Main-title">
    <%= @form.case.recipient.name %>
  </h1>

  <%= form_for(@form, html: { class: "CaseForm Form" }) do |f| %>
    <%= f.section("MDHHS", class: "CaseForm-dhs") do %>
      <%= f.field(:dhs_number, "MDHHS Number", class: "CaseForm-dhsNumber") do %>
        <%= f.text_field(:dhs_number) %>
      <% end %>
    <% end %>

    <%= f.section("Household", class: "CaseForm-household") do %>
      <%= f.field(:household_size, class: "CaseForm-householdSize") do %>
        <%= f.text_field(:household_size) %>
      <% end %>
      <%= f.section("Monthly Income", :h3, class: "CaseForm-income") do %>
        <%- @form.income_history.each do |income| %>
          <%= f.group(:ul, class: "CaseForm-incomeRows", id: "add-income-rows") do %>
            <%= f.fields_for(:income_history, income, index: 0) do |f| %>
              <%= f.group(:li, class: "CaseForm-incomeRow", id: "add-income-row") do %>
                <%= f.field(:month, class: "CaseForm-incomeMonth") do %>
                  <%= f.text_field(:month) %>
                <% end %>
                <%= f.field(:amount, class: "CaseForm-incomeAmount") do %>
                  <%= f.text_field(:amount) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= tag.a("Add Income", id: "add-income-link") %>
      <% end %>
    <% end %>

    <%= f.submit(class: "Button") %>
  <% end %>
</main>

<%= javascript_pack_tag("cases/edit") %>
