<main class="Main">
  <%- view = Cases::View.new(@case) %>
  <header class="Main-header">
    <h1 class="Main-title">
      <%= view.recipient_name %>'s case
    </h1>
    <div class="Main-actions">
      <% if @case.can_submit? %>
        <%=
          button_to("Submit Case", [@case, :submit],
            method: :patch,
            class: "Button--action",
            data: {
              confirm: "Are you sure you want to submit this case?"
            }
          )
        %>
        <%=
          button_to("Remove from Pilot", [@case, :complete],
            method: :patch,
            params: { case: { status: Case::Status::Removed } },
            class: "Button--destructive",
            data: {
              confirm: "Are you sure you want to remove this case from the pilot?"
            }
          )
        %>
      <% elsif @case.can_complete? %>
        <%=
          button_to("Approve Case", [@case, :complete],
            method: :patch,
            params: { case: { status: Case::Status::Approved } },
            class: "Button--action",
            data: {
              confirm: "Are you sure you want to approve this case?"
            }
          )
        %>
        <%=
          button_to("Deny Case", [@case, :complete],
            method: :patch,
            params: { case: { status: Case::Status::Denied } },
            class: "Button--destructive",
            data: {
              confirm: "Are you sure you want to deny this case?"
            }
          )
        %>
      <% end %>
    </div>
  </header>

  <div class="EditCase">
    <%= form_for(@form, url: case_path(@form.id), html: { class: "CaseForm Form" }) do |f| %>
      <%= f.section("Details", class: "CaseForm-details") do %>
        <%= f.field(:status, background: false, class: "CaseForm-status") do %>
          <%= f.value(@form.status.titlecase) %>
        <%- end %>
        <%= f.field(:program, background: false, class: "CaseForm-program") do %>
          <%= f.value(@form.program_name) %>
        <%- end %>
        <%= f.field(:enroller, background: false, class: "CaseForm-enroller") do %>
          <%= f.value(@form.enroller_name) %>
        <%- end %>
        <%- disabled = @form.signed_contract %>
        <%= f.field(:signed_contract, "Contract", disabled: disabled, background: false, class: "CaseForm-contract") do %>
          <%= f.check_box(:signed_contract, disabled: disabled) %>
          <span>Signed Contract?</span>
        <%- end %>
      <% end %>

      <%= render(partial: "cases/supplier/fields", locals: { f: f, form: @form }) %>
      <%= render(partial: "cases/dhs/fields", locals: { f: f, form: @form }) %>

      <%= f.submit(class: "Form-submit Button--action") %>
    <% end %>

    <%= render(partial: "cases/documents", locals: { documents: @form.documents }) %>
  <div>
</main>
