<main class="EditCase Main">
  <%- view = Cases::View.new(@case) %>
  <header class="Main-header">
    <%= link_to("Back to Cases", :back, class: "Main-back") %>
    <h1 class="Main-title">
      <%= view.recipient_name %>'s case
    </h1>
    <div class="Main-actions">
      <% if @case.can_submit? %>
        <%=
          button_to("Submit Case", [@case, :submit],
            method: :patch,
            class: "Button--action",
            data: {
              confirm: "Are you sure you want to submit this case?"
            }
          )
        %>
        <%=
          button_to("Remove from Pilot", [@case, :complete],
            method: :patch,
            params: { case: { status: Case::Status::Removed } },
            class: "Button--destructive",
            data: {
              confirm: "Are you sure you want to remove this case from the pilot?"
            }
          )
        %>
      <% elsif @case.can_complete? %>
        <%=
          button_to("Approve Case", [@case, :complete],
            method: :patch,
            params: { case: { status: Case::Status::Approved } },
            class: "Button--action",
            data: {
              confirm: "Are you sure you want to approve this case?"
            }
          )
        %>
        <%=
          button_to("Deny Case", [@case, :complete],
            method: :patch,
            params: { case: { status: Case::Status::Denied } },
            class: "Button--destructive",
            data: {
              confirm: "Are you sure you want to deny this case?"
            }
          )
        %>
      <% end %>
    </div>
    <div class="Main-filters">
      <nav class="Filters">
        <%= link_to("Details", "#details", class: "Filter is-selected", data: { turbolinks: false }) %>
        <%= link_to("Profile", "#profile", class: "Filter", data: { turbolinks: false }) %>
        <%= link_to("Accounts", "#accounts", class: "Filter", data: { turbolinks: false }) %>
        <%= link_to("Documents", "#documents", class: "Filter", data: { turbolinks: false }) %>
      </nav>
    </div>
  </header>

  <%= form_for(@form, url: case_path(@form.id), html: { class: "CaseForm Form" }) do |f| %>
    <%- form_locals = { f: f, form: @form, view: view } %>

    <section id="details" class="Form-tab is-visible">
      <%= render(partial: "cases/fields/details", locals: form_locals) %>
    </section>

    <section id="profile" class="Form-tab">
      <%= render(partial: "cases/fields/contact", locals: form_locals) %>
      <%= render(partial: "cases/fields/address", locals: form_locals) %>
    </section>

    <section id="accounts" class="Form-tab">
      <%= render(partial: "cases/fields/mdhhs", locals: form_locals) %>
      <%= render(partial: "cases/fields/utility", locals: form_locals) %>
      <%= render(partial: "cases/fields/household", locals: form_locals) %>
    </section>

    <section id="documents" class="Form-tab">
      <%= render(partial: "cases/documents", locals: { documents: @form.documents }) %>
    </section>

    <div class="Form-actions">
      <%= f.submit(class: "Form-submit Button--action") %>
    </div>
  <% end %>
</main>
