<main class="Main">
  <h1 class="Main-title">
    <%= @form.case.recipient.name %>
  </h1>

  <%= form_for(@form, html: { class: "CaseForm Form" }) do |f| %>
    <%= f.section("Address", class: "CaseForm-address is-read") do %>
      <% @form.address.each do |line| %>
        <p class="CaseForm-addressLine"><%= line %></p>
      <% end %>
    <% end %>

    <%= f.section("MDHHS", class: "CaseForm-dhs") do %>
      <%= f.field(:dhs_number, "Case Number", class: "CaseForm-dhsNumber") do %>
        <%= f.text_field(:dhs_number) %>
      <% end %>
    <% end %>

    <%= f.section("Household", class: "CaseForm-household") do %>
      <%= f.field(:household_size, "Size", class: "CaseForm-householdSize") do %>
        <%= f.text_field(:household_size) %>
      <% end %>
      <%= f.section("Monthly Income", :h3, class: "CaseForm-income") do %>
        <%= f.group(:ul, class: "CaseForm-incomeRows", id: "income-rows") do %>
          <%- @form.income_history.each_with_index do |income, i| %>
            <%= f.fields_for(:income_history, income, index: i) do |f| %>
              <%- row_id = i == 0 ? "income-row-template" : nil %>
              <%= f.group(:li, class: "CaseForm-incomeRow", id: row_id) do %>
                <%= f.field(:month, class: "CaseForm-incomeMonth") do %>
                  <%= f.text_field(:month) %>
                <% end %>
                <%= f.field(:amount, class: "CaseForm-incomeAmount") do %>
                  <%= f.text_field(:amount) %>
                <% end %>
                <%= tag.a("✘", class: "CaseForm-deleteIncome") %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= tag.a("Add Income", id: "add-income-link", class: "CaseForm-addIncome Button") %>
      <% end %>
    <% end %>

    <%= f.submit(class: "Button--action") %>
  <% end %>
</main>

<%= javascript_pack_tag("cases/edit") %>
