<main class="Main">
  <h1 class="Main-title">
    <%= @form.name %>'s case
  </h1>

  <div class="EditCase">
    <%= form_for(@form, url: case_path(@form.id), html: { class: "CaseForm Form" }) do |f| %>
      <%= f.section("Case Details", class: "CaseForm-details") do %>
        <%= f.field(:status, class: "CaseForm-status") do %>
          <%= f.select(:status, @form.statuses.map { |s| [s.to_s.capitalize, s] }) %>
        <% end %>
        <label class="CaseForm-enroller DetailField">
          <span class="DetailField-hint">
            Enroller
          </span>
          <p class="DetailField-text">
            <%= @form.enroller_name %>
          </p>
        </label>
      <% end %>

      <%= f.section("Contact", class: "CaseForm-contact") do %>
        <%= f.field(:first_name, class: "CaseForm-firstName") do %>
          <%= f.text_field(:first_name) %>
        <% end %>
        <%= f.field(:last_name, class: "CaseForm-lastName") do %>
          <%= f.text_field(:last_name) %>
        <% end %>
        <%= f.field(:phone_number, "Phone #", class: "CaseForm-phoneNumber") do %>
          <%= f.telephone_field(:phone_number) %>
        <% end %>
      <% end %>

      <%= f.section("Primary Residential Address", class: "CaseForm-address") do %>
        <%= f.field(:street, class: "CaseForm-street") do %>
          <%= f.text_field(:street) %>
        <% end %>
        <%= f.field(:street2, "", class: "CaseForm-street2") do %>
          <%= f.text_field(:street2) %>
        <% end %>
        <%= f.field(:city, class: "CaseForm-city") do %>
          <%= f.text_field(:city) %>
        <% end %>
        <%= f.field(:state, class: "CaseForm-state") do %>
          <%= f.text_field(:state) %>
        <% end %>
        <%= f.field(:zip, class: "CaseForm-zip") do %>
          <%= f.text_field(:zip) %>
        <% end %>
      <% end %>

      <%= f.section("Utility Account", class: "CaseForm-utilityAccount") do %>
        <label class="CaseForm-accountSupplier DetailField">
          <span class="DetailField-hint">
            Supplier
          </span>
          <p class="DetailField-text">
            <%= @form.supplier_name %>
          </p>
        </label>
        <%= f.field(:account_number, "Account #", class: "CaseForm-accountNumber") do %>
          <%= f.text_field(:account_number) %>
        <% end %>
        <%= f.field(:arrears, class: "CaseForm-arrears") do %>
          <%= f.text_field(:arrears) %>
        <% end %>
      <% end %>

      <%= f.section("MDHHS", class: "CaseForm-dhs") do %>
        <%= f.field(:dhs_number, "Case #", class: "CaseForm-dhsNumber") do %>
          <%= f.text_field(:dhs_number) %>
        <% end %>
      <% end %>

      <%= f.section("Household", class: "CaseForm-household") do %>
        <%= f.field(:household_size, "Size", class: "CaseForm-householdSize") do %>
          <%= f.text_field(:household_size) %>
        <% end %>
        <%= f.field(:income, "Monthly Income", class: "CaseForm-monthlyIncome") do %>
          <%= f.text_field(:income) %>
        <% end %>
      <% end %>

      <%= f.submit(class: "Button--action") %>
    <% end %>

    <section class="CaseDocuments">
      <h1>Documents</h1>
      <ul class="CaseDocuments-list">
        <% if @form.documents.blank? %>
          <p>This case has no documents yet.</p>
        <% else %>
          <% @form.documents.each do |d| %>
            <li class="CaseDocument">
              <%- file_url = d.file.attached? ? url_for(d.file) : nil %>
              <% if file_url.nil? %>
                <p class="CaseDocument-placeholder">This file is being processed.</p>
              <% else %>
                <%= image_tag(file_url, height: 140, class: "CaseDocument-image") %>
              <% end %>
              <%= link_to("View Document", file_url || "", target: "_blank", rel: "noopener noreferrer") %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
  <div>
</main>
