<main class="Main">
  <h1 class="Main-title">
    All Cases
  </h1>
  <ul class="CaseList">
    <% if @cases.blank? %>
      <p>No cases left!</p>
    <% else %>
      <% @cases.each do |kase| %>
        <% policy.with_case(kase) do %>
          <li class="CaseCell">
            <div class="CaseCell-row">
              <%- name = kase.recipient.name %>
              <% if policy.permit?(:edit) %>
                <%= link_to(name, edit_case_path(kase), action: :edit, class: "CaseCell-name") %>
              <% else %>
                <p class="CaseCell-name"><%= name %></p>
              <% end %>
            </div>
            <div class="CaseCell-row">
              <p class="CaseCell-organizations">
                <%= kase.supplier.name %>, <%= kase.enroller.name %>
              </p>
            </div>
            <div class="CaseCell-row">
              <% if policy.permit?(:view_status) %>
                <p class="CaseCell-status">
                  <%= kase.status.to_s.camelize %>
                </p>
              <% end %>
              <p class="CaseCell-updateTime">
                Updated <%= time_ago_in_words(kase.updated_at) %> ago
              </p>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</main>
