<main class="Main">
  <h1 class="Main-title">
    Add a Case
  </h1>
  <%= form_for(@form, html: { class: "CaseForm Form" }) do |f| %>
    <div class="CaseForm-name Form-group">
      <h2>Name</h2>
      <%= f.field(:first_name, class: "CaseForm-firstName") do %>
        <%= f.text_field(:first_name) %>
      <% end %>
      <%= f.field(:last_name, class: "CaseForm-lastName") do %>
        <%= f.text_field(:last_name) %>
      <% end %>
    </div>

    <div class="CaseForm-contact Form-group">
      <h2>Contact</h2>
      <%= f.field(:phone_number, class: "CaseForm-phoneNumber") do %>
        <%= f.text_field(:phone_number) %>
      <% end %>
    </div>

    <div class="CaseForm-address Form-group">
      <h2>Address</h2>
      <%= f.field(:street, class: "CaseForm-street") do %>
        <%= f.text_field(:street) %>
      <% end %>
      <%= f.field(:street2, "", class: "CaseForm-street2") do %>
        <%= f.text_field(:street2) %>
      <% end %>
      <%= f.field(:city, class: "CaseForm-city") do %>
        <%= f.text_field(:city) %>
      <% end %>
      <%= f.field(:state, class: "CaseForm-state") do %>
        <%= f.text_field(:state) %>
      <% end %>
      <%= f.field(:zip, class: "CaseForm-zip") do %>
        <%= f.text_field(:zip) %>
      <% end %>
    </div>

    <div class="CaseForm-utilityAccount Form-group">
      <h2>Utility Account</h2>
      <%= f.field(:account_number, class: "CaseForm-accountNumber") do %>
        <%= f.text_field(:account_number) %>
      <% end %>
      <%= f.field(:arrears, class: "CaseForm-arrears") do %>
        <%= f.text_field(:arrears) %>
      <% end %>
    </div>

    <%= f.submit(class: "Button") %>
  <% end %>
</main>
