<main class="Main">
  <h1 class="Main-title">
    Add a Case
  </h1>
  <%= form_for(@case, html: { class: "NewCase Form" }) do |f| %>
    <div class="NewCase-name Form-group">
      <h2>Name</h2>
      <%= f.field(:first_name, class: "NewCase-firstName") do %>
        <%= f.text_field(:first_name) %>
      <% end %>
      <%= f.field(:last_name, class: "NewCase-lastName") do %>
        <%= f.text_field(:last_name) %>
      <% end %>
    </div>

    <div class="NewCase-contact Form-group">
      <h2>Contact</h2>
      <%= f.field(:phone_number, class: "NewCase-phoneNumber") do %>
        <%= f.text_field(:phone_number) %>
      <% end %>
    </div>

    <div class="NewCase-address Form-group">
      <h2>Address</h2>
      <%= f.field(:street, class: "NewCase-street") do %>
        <%= f.text_field(:street) %>
      <% end %>
      <%= f.field(:street2, "", class: "NewCase-street2") do %>
        <%= f.text_field(:street2) %>
      <% end %>
      <%= f.field(:city, class: "NewCase-city") do %>
        <%= f.text_field(:city) %>
      <% end %>
      <%= f.field(:state, class: "NewCase-state") do %>
        <%= f.text_field(:state) %>
      <% end %>
      <%= f.field(:zip, class: "NewCase-zip") do %>
        <%= f.text_field(:zip) %>
      <% end %>
    </div>

    <div class="NewCase-utilityAccount Form-group">
      <h2>Utility Account</h2>
      <%= f.field(:account_number, class: "NewCase-accountNumber") do %>
        <%= f.text_field(:account_number) %>
      <% end %>
      <%= f.field(:arrears, class: "NewCase-arrears") do %>
        <%= f.text_field(:arrears) %>
      <% end %>
    </div>

    <%= f.submit(class: "Button") %>
  <% end %>
</main>
