<main class="DemoLanding">
  <section class="DemoLanding-panel">
    <header class="PageHeader">
      <h1><%= image_tag("logo-large-full.svg", height: 67, alt: "Cohere Logo") %></h1>
      <%= tag.h2(t(".prompt"), class: "PageHeader-subtitle") %>
    </header>

    <nav>
      <ul class="DemoLanding-roles">
        <%= demo_role_tag("applicant", theme: Role::Enroller) %>
        <%= demo_role_tag("call-center", theme: Role::Source) %>
        <%= demo_role_tag("state", theme: Role::Governor) %>
        <%= demo_role_tag("nonprofit", theme: Role::Agent) %>
      </ul>
    </nav>
  </section>

  <section class="DemoLanding-panel">
    <div class="DemoLanding-intro">
      <% t(".intro").each do |line| %>
        <p><%= line %></p>
      <% end %>
    </div>
  </div>
</main>
