<main class="DemoLanding">
  <section class="DemoLanding-panel">
    <header class="PageHeader">
      <h1><%= image_tag("logo-large-full.svg", height: 67, alt: "Cohere Logo") %></h1>
      <%= tag.h2(t(".prompt"), class: "PageHeader-subtitle") %>
    </header>

    <nav>
      <ul class="DemoLanding-roles">
        <li class="DemoLanding-role Layout--enroller">
          <%= link_to(t(".roles.applicant"), "/applicant/1") %>
        </li>
        <li class="DemoLanding-role Layout--source">
          <%= link_to(t(".roles.csr"), "/call-center/1") %>
        </li>
        <li class="DemoLanding-role Layout--governor">
          <%= link_to(t(".roles.state"), "/state/1") %>
        </li>
        <li class="DemoLanding-role Layout--agent">
          <%= link_to(t(".roles.nonprofit"), "/nonprofit/1") %>
        </li>
      </ul>
    </nav>
  </div>

  <section class="DemoLanding-panel">
    <header class="DemoLanding-rightHeader PageHeader">
      <%= tag.h1(t(".title"), class: "PageHeader-title") %>
    </header>

    <div class="DemoLanding-intro">
      <% t(".intro").each do |line| %>
        <p><%= line %></p>
      <% end %>
    </div>
  </div>
</main>
