<main class="DemoLanding">
  <header class="PageHeader">
    <h1><%= image_tag("logo-large-full.svg", height: 67, alt: "Cohere Logo") %></h1>
  </header>

  <div class="DemoLanding-content">
    <nav class="DemoLanding-nav">
      <ul class="DemoLanding-roles">
        <%= demo_role_tag(DemoRole::Applicant) %>
        <%= demo_role_tag(DemoRole::CallCenter) %>
        <%= demo_role_tag(DemoRole::State) %>
        <%= demo_role_tag(DemoRole::Nonprofit) %>
      </ul>
    </nav>

    <section class="DemoLanding-intro">
      <%= tag.h2(t(".prompt")) %>
      <% t(".intro").each do |line| %>
        <p><%= line %></p>
      <% end %>
    </section>
  </div>
</main>
