<main class="Main">
  <h1 class="Main-title">
    <%= @form.name %>
  </h1>

  <%= form_for(@form, url: cases_opened_path(@form.id), html: { class: "CaseForm Form" }) do |f| %>
    <%= f.section("Primary Residential Address", class: "CaseForm-address is-read") do %>
      <% @form.address.each do |line| %>
        <p class="CaseForm-addressLine"><%= line %></p>
      <% end %>
    <% end %>

    <%= f.section("MDHHS", class: "CaseForm-dhs") do %>
      <%= f.field(:dhs_number, "CaseForm Number", class: "CaseForm-dhsNumber") do %>
        <%= f.text_field(:dhs_number) %>
      <% end %>
    <% end %>

    <%= f.section("Household", class: "CaseForm-household") do %>
      <%= f.field(:household_size, "Size", class: "CaseForm-householdSize") do %>
        <%= f.text_field(:household_size) %>
      <% end %>
      <%- income = @form.income_history[0] %>
      <%= f.fields_for(:income_history, income, index: 0) do |f| %>
        <%= f.field(:amount, "Monthly Income", class: "CaseForm-monthlyIncome") do %>
          <%= f.text_field(:amount) %>
        <% end %>
      <% end %>
    <% end %>

    <%= f.submit(class: "Button--action") %>
  <% end %>
</main>
