<style>
  <%= Rails.application.assets["contract.css"].source %>
</style>
<article class="Contract">
  <section class="Contract-meapAgreement ContractSection">
    <h1 class="ContractSection-title">
      MEAP Agreement
      <div class="ContractSection-titleBorder"></div>
    </h1>
    <div class="ContractSection-body">
      <ul class="ContractSection-terms">
        <li class="ContractSection-term">
          As part of this MEAP agreement, I understand that I may be referred to or
          required to participate in additional services such as budgeting assistance,
          energy audits, or other programs that will help your household pay energy
          bills and understand energy consumption. Participation in the activities
          outlined in this plan/agreement are required in order to receive any
          additional energy assistance benefits.
        </li>
        <li class="ContractSection-term">
          I authorize the assisting agency or provider to release my name and address
          to the local weatherization operator as part of the Weatherization Referral
          system. I authorize the department to release case and payment information
          to the Department of Health and Human Services, its affiliates and/or
          contracted agencies, for the purpose of research, study and evaluation of
          the Low Income Home Energy Assistance Program (LIHEAP) and the Michigan
          Energy Assistance Program (MEAP).
        </li>
        <li class="ContractSection-term">
          I authorize my energy company to release by phone, fax, email or their
          computer web site all available information about my account.
        </li>
        <li class="ContractSection-term">
          UNDER PENALTIES OF PERJURY, I SWEAR OR AFFIRM THAT THIS APPLICATION HAS BEEN
          EXAMINED BY OR READ TO ME. IF I AM A THIRD PARTY APPLYING ON BEHALF OF
          ANOTHER PERSON, I SWEAR THAT THIS APPLICATION HAS BEEN EXAMINED BY OR READ
          TO THE APPLICANT. TO THE BEST OF MY KNOWLEDGE, THE FACTS ARE TRUE AND
          COMPLETE.
        </li>
      </ul>
    </div>
    <div class="ContractSection-fields">
      <div class="ContractSection-fieldRow">
        <label class="Contract-applicantName ContractField">
          <p class="ContractField-hint">
            Name
          </p>
          <div class="ContractField-input">
            <p class="ContractField-value">
              <%= view.recipient_name %>
            </p>
            <div class="ContractField-border"></div>
          </div>
        </label>
        <label class="Contract-phoneNumber ContractField">
          <p class="ContractField-hint">
            Phone Number
          </p>
          <div class="ContractField-input">
            <p class="ContractField-value">
              +1 <%= number_to_phone(view.phone_number) %>
            </p>
            <div class="ContractField-border"></div>
          </div>
        </label>
      </div>
      <div class="ContractSection-fieldRow">
        <label class="Contract-address ContractField">
          <p class="ContractField-hint">
            Address
          </p>
          <% view.address.each_with_index do |line, i| %>
            <div class="Contract-address-<%= i %> ContractField-input">
              <p class="ContractField-value">
                <%= line %>
              </p>
              <div class="ContractField-border"></div>
            </div>
          <% end %>
        </label>
      </div>
      <div class="Contract-meapSignatures ContractSection-fieldRow">
        <label class="Contract-signature ContractField">
          <p class="ContractField-hint">
            Signature of Applicant or Head-of-household
          </p>
          <div class="ContractField-input">
            <p class="ContractField-value">
              <%= view.recipient_name %>
            </p>
            <div class="ContractField-border"></div>
          </div>
        </label>
        <label class="Contract-date ContractField">
          <p class="ContractField-hint">
            Date
          </p>
          <div class="ContractField-input">
            <p class="ContractField-value">
              <%= date %>
            </p>
            <div class="ContractField-border"></div>
          </div>
        </label>
      </div>
      <div class="ContractSection-fieldRow">
        <label class="Contract-signature ContractField">
          <p class="ContractField-hint">
            Signature of Agency Representative
          </p>
          <div class="ContractField-input">
            <p class="ContractField-value"></p>
            <div class="ContractField-border"></div>
          </div>
        </label>
        <label class="Contract-date ContractField">
          <p class="ContractField-hint">
            Date
          </p>
          <div class="ContractField-input">
            <p class="ContractField-value"></p>
            <div class="ContractField-border"></div>
          </div>
        </label>
      </div>
    </div>
  </section>
  <section class="Contract-affordablePaymentPlan ContractSection">
    <h1 class="ContractSection-title">
      Affordable Payment Plan
      <div class="ContractSection-titleBorder"></div>
    </h1>
    <div class="ContractSection-body">
      <ul class="ContractSection-terms">
        <li class="ContractSection-term">
          I have been informed if my energy provider offers APP and understand
          whether or not I am eligible
        </li>
        <li class="ContractSection-term">
          I agree to the terms and conditions of the Affordable Payment Plan
          offered by my energy provider and have received a list of the terms and
          conditions of this plan
        </li>
      </ul>
    </div>
    <div class="ContractSection-fields">
      <div class="ContractSection-fieldRow">
        <label class="Contract-signature ContractField">
          <p class="ContractField-hint">
            Signature of Applicant or Head-of-household
          </p>
          <div class="ContractField-input">
            <p class="ContractField-value">
              <%= view.recipient_name %>
            </p>
            <div class="ContractField-border"></div>
          </div>
        </label>
        <label class="Contract-date ContractField">
          <p class="ContractField-hint">
            Date
          </p>
          <div class="ContractField-input">
            <p class="ContractField-value">
              <%= date %>
            </p>
            <div class="ContractField-border"></div>
          </div>
        </label>
      </div>
    </div>
  </section>
  <section class="Contract-internalUse ContractSection">
    <h1 class="ContractSection-title">
      Internal Use Only
      <div class="ContractSection-titleBorder"></div>
    </h1>
    <div class="ContractSection-fields">
      <div class="ContractSection-fieldRow">
        <label class="Contract-signature ContractField">
          <p class="ContractField-hint">
            Signature of Agency Representative
          </p>
          <div class="ContractField-input">
            <p class="ContractField-value"></p>
            <div class="ContractField-border"></div>
          </div>
        </label>
        <label class="Contract-date ContractField">
          <p class="ContractField-hint">
            Date
          </p>
          <div class="ContractField-input">
            <p class="ContractField-value"></p>
            <div class="ContractField-border"></div>
          </div>
        </label>
      </div>
    </div>
  </section>
</main>
