<main class="EditCase Main">
  <header class="Main-header">
    <%= link_to("Back to Cases", cases_path, class: "Main-back") %>

    <h1 class="Main-title">
      <%= @view.recipient_name %>'s case
    </h1>

    <div class="Main-filters">
      <nav class="Filters">
        <%= filter_for(:application, is_error: errors?(@form.mdhhs, @form.household), is_selected: true) %>
        <%= filter_for(:documents) %>
      </nav>
    </div>
  </header>

  <div class="CaseDetail">
    <%- form_class = "CaseFrom CaseDetail-case Panel" %>
    <%= form_for(@form, url: case_path(@case.id), html: { class: form_class }) do |f| %>
      <% form_locals = { f: f, form: @form, view: @view, policy: policy } %>

      <div id="application" class="Panel-tab is-visible">
        <%= section_tag("Contact", class: "ShowCase-contact") do %>
          <%= field_tag("Primary Residential Address", class: "ShowCase-address") do %>
            <% @view.address.each do |line| %>
              <%= line %>
              <br>
            <% end %>
          <%- end %>
        <%- end %>

        <%= render(partial: "cases/forms/mdhhs", locals: form_locals) %>
        <%= render(partial: "cases/forms/household", locals: form_locals) %>
      </div>

      <div id="documents" class="Panel-tab">
        <%= render(partial: "cases/documents", locals: { documents: @view.documents }) %>
      </div>

      <div class="Panel-actions">
        <%= f.submit("Save", class: "Button Button--action") %>
      </div>
    <%- end %>
  </div>
</main>
