<% s = ::Cases::Scope %>

<main class="Main">
  <header class="Main-header">
    <h1 class="Main-title">
      <%= @scope.name %> Cases
    </h1>

    <%= totals_for(@page, of: "cases") %>

    <div class="Main-filters">
      <nav class="Filters">
        <%= cases_filter_link_to(s::Queued) %>
        <%= cases_filter_link_to(s::Assigned) %>
        <%= cases_filter_link_to(s::Open) %>
      </nav>
    </div>
  </header>

  <ul id="case-list" class="CaseList">
    <% if @cases.blank? %>
      <h2 class="CaseList-fallback">
        No <%= @scope.name.downcase %> cases left.
      </h2>
    <% else %>
      <%- views = @cases.map { |c| Cases::View.new(c, @scope) } %>
      <%= render(partial: "dhs/cases/cell", collection: views) %>
    <% end %>
  </ul>

  <%= pager_for(@page, of: "cases") %>
</main>
