<%# -- json -- %>
<%- chat_json = Chats::EncodeMessage.(chat.messages) %>
<script id="chat-json" type="application/json">
  <%= raw(chat_json.to_json) %>
</script>

<%# -- view -- %>
<article class="<%= cx(local_assigns[:class], "Chat Phone-frame") %>">
  <%- data = { sender: sender, receiver: receiver } %>
  <%- data.merge!(local_assigns[:data] || {}) %>

  <div class="Chat-window">
    <%= tag.ol(id: "chat", class: "Chat-messages", data: data) %>

    <%= form_for(:chat, html: { id: "chat-form", class: "Chat-form" }) do |f| %>
      <ol id="chat-files" class="Chat-files is-empty"></ol>

      <div class="Chat-controls">
        <div class="Chat-field">
          <span id="chat-input" contenteditable="true" class="Chat-input"></span>
          <span class="Chat-placeholder">Enter your message...</span>

          <label class="Chat-addFile">
            <input id="chat-file-input" type="file" multiple="true" />
          </label>
        </div>

        <button class="Chat-send" alt="Send Message"></button>
      </div>
    <% end %>
  </div>

  <% if local_assigns[:has_macros] %>
    <%= render(partial: "chats/macros") %>
  <% end %>
</article>
