<main class="Main SignIn">
  <div class="SignIn-title">
    <h1><%= t(".title") %></h1>
    <h2><%= t(".prompt").html_safe %></h2>
  </div>

  <%= form_for(:password, url: passwords_path, html: { class: "SignIn-form Form" }) do |f| %>
    <%= f.section(class: "SignIn-credentials") do %>
      <%= f.field(:email, t("auth.email.label"), class: "SignIn-email") do %>
        <% f.text_field(:email, type: "email", placeholder: t("auth.email.placeholder")) %>
      <% end %>
    <% end %>

    <%= f.section(class: "SignIn-actions") do %>
      <%= f.submit(class: "SignIn-submit Button--action") %>
    <% end %>

    <% if message.present? %>
      <p class="SignIn-message"><%= message %></p>
    <% end %>
  <% end %>
</main>
