<main class="EditCase Main">
  <header class="Main-header">
    <%= link_to("Back to Cases", cases_path, class: "Main-back") %>
    <h1 class="Main-title">
      <%= @view.recipient_name %>'s case
    </h1>
    <div class="Main-actions">
      <% if @case.can_submit? %>
        <%=
          button_to("Remove from Pilot", @case,
            name: :remove,
            method: :patch,
            class: "Button--destructive",
            data: {
              confirm: "Are you sure you want to remove this case from the pilot?"
            },
          )
        %>
      <% end %>
    </div>
    <div class="Main-filters">
      <nav class="Filters">
        <%= link_to("Profile", "#profile", class: "Filter is-selected", data: { turbolinks: false }) %>
        <%= link_to("Household", "#household", class: "Filter", data: { turbolinks: false }) %>
        <%= link_to("Accounts", "#accounts", class: "Filter", data: { turbolinks: false }) %>
        <%= link_to("Documents", "#documents", class: "Filter", data: { turbolinks: false }) %>
      </nav>
    </div>
  </header>

  <%= form_for(@form, url: case_path(@case.id), html: { class: "CaseForm Form" }) do |f| %>
    <% form_locals = { f: f, form: @form, view: @view, policy: policy } %>
    <section id="profile" class="Form-tab is-visible">
      <%= render(partial: "cases/fields/details", locals: form_locals) %>
      <%= render(partial: "cases/fields/contact", locals: form_locals) %>
    </section>

    <section id="household" class="Form-tab">
      <%= render(partial: "cases/fields/address", locals: form_locals) %>
      <%= render(partial: "cases/fields/household", locals: form_locals) %>
    </section>

    <section id="accounts" class="Form-tab">
      <%= render(partial: "cases/fields/mdhhs", locals: form_locals) %>
      <%= render(partial: "cases/fields/supplier_account", locals: form_locals) %>
    </section>

    <section id="documents" class="Form-tab">
      <%= render(partial: "cases/documents", locals: { documents: @view.documents }) %>
    </section>

    <div class="Form-actions">
      <%= f.submit("Save", class: "Form-submit Button--action") %>

      <%- if @case.can_submit? %>
        <%=
          f.submit("Save & Submit to Enroller",
            name: :submit,
            class: "Form-submit Button--secondary",
            data: {
              confirm: "Are you sure you want to submit this case?"
            },
          )
        %>
      <% elsif @case.can_complete? %>
        <%=
          f.submit("Save & Approve",
            name: :approve,
            class: "Form-submit Button--secondary",
            data: {
              confirm: "Are you sure you want to approve this case?"
            }
          )
        %>
        <%=
          f.submit("Save & Deny",
            name: :deny,
            class: "Form-submit Button--destructive",
            data: {
              confirm: "Are you sure you want to deny this case?"
            },
          )
        %>
      <%- end %>
    </div>
  <% end %>
</main>
