<% s = ::Cases::Scope %>

<main class="Main">
  <header class="Main-header">
    <h1 class="Main-title">
      <%= @scope.title %>
    </h1>

    <%= totals_for(@page, of: "cases") %>

    <div class="Main-row">
      <div class="CaseSearch">
        <p class="CaseSearch-title">
          Search for Cases
        </p>

        <%= form_tag(cases_search_path, method: :get, class: "CaseSearch-field") do %>
          <%- params = cases_search_params %>
          <%= text_field_tag(:search, params[:search], class: "CaseSearch-input") %>

          <%- params.without(:search).each do |k, v| %>
            <%= hidden_field_tag(k, v) %>
          <%- end %>

          <%= submit_tag("Find Cases", name: nil, class: "CaseSearch-action Button Button--action") %>
        <%- end %>
      </div>
    </div>

    <div class="Main-row Main-filters">
      <nav class="Filters">
        <%= cases_scope_link_to(s::All) %>
        <%= cases_scope_link_to(s::Open) %>
        <%= cases_scope_link_to(s::Completed) %>
      </nav>
    </div>
  </header>

  <ul id="case-list" class="CaseList">
    <% if @cases&.blank? %>
      <h2 class="CaseList-fallback">
        No <%= @scope.adjective %> cases left.
      </h2>
    <% else %>
      <%= render(partial: "cohere/cases/cell", collection: @cases) %>
    <% end %>
  </ul>

  <%= pager_for(@page, of: "cases") %>
</main>
