<main class="ShowCase Page">
  <header class="PageHeader">
    <%= link_to(t(".actions.back"), :back, class: "PageHeader-back") %>

    <h1 class="PageHeader-title">
      <%= t(".title", name: @case.recipient_name) %>
    </h1>

    <div class="PageHeader-actions">
      <% if @case.can_make_referral? %>
        <%=
          link_to(t(".actions.referral"), @case.select_referral_path,
            class: "Button Button--action",
          )
        %>
      <% end %>

      <%=
        link_to(t(".actions.edit"), @case.edit_path,
          class: "Button Button--secondary",
          data: { "turbolinks-action": "replace" },
        )
      %>
    </div>

    <div class="PageHeader-row PageHeader-filters">
      <nav class="Filters">
        <%= filter_for(:application, is_selected: true) %>
        <%= filter_for(:documents) %>
      </nav>
    </div>
  </header>

  <div class="CaseDetail CaseDetail--view">
    <article class="CaseDetail-case">
      <section id="application" class="Panel-tab is-visible">
        <%- locals = { view: @case } %>
        <%= render(partial: "cases/detail/details", locals: locals) %>
        <%= render(partial: "cases/detail/contact", locals: locals) %>
        <%= render(partial: "cases/detail/supplier_account", locals: locals) %>
        <%= render(partial: "cases/detail/dhs", locals: locals) %>
        <%= render(partial: "cases/detail/household", locals: locals) %>
      </section>

      <section id="documents" class="Panel-tab">
        <%=
          render(partial: "cases/documents", locals: {
            documents: @case.documents
          })
        %>
      </section>
    </article>

    <%=
      render(partial: "cohere/cases/chat", locals: {
        chat: @case.chat,
        recevier: @case.recipient_first_name
      })
    %>
  </div>
</main>
