<main class="ShowCase Main">
  <%- view = Cases::View.new(@case) %>

  <header class="Main-header">
    <%= link_to("Back to Cases", cases_path, class: "Main-back") %>

    <h1 class="Main-title">
      <%= view.recipient_name %>'s case
    </h1>

    <div class="Main-actions">
      <% if @case.can_make_referral?(Program::Name::Wrap) %>
        <%=
          link_to("Make Referral to WRAP", new_case_referral_path(@case),
            params: { program: Program::Name::Wrap },
            class: "Button--action",
          )
        %>
      <% end %>

      <%=
        link_to("Edit Case", edit_case_path(@case),
          class: "Button--secondary",
        )
      %>
    </div>

    <div class="Main-filters">
      <nav class="Filters">
        <%= filter_for(:application, is_selected: true) %>
        <%= filter_for(:documents) %>
      </nav>
    </div>
  </header>

  <div class="CaseDetail">
    <article class="CaseDetail-case Panel--read Panel">
      <section id="application" class="Panel-tab is-visible">
        <%= section_tag("Details", class: "ShowCase-details") do %>
          <%= field_tag("Status", class: "ShowCase-status") do %>
            <%= view.status %>
          <%- end %>

          <%= field_tag("Program", class: "ShowCase-program") do %>
            <%= view.program_name %>
          <%- end %>

          <%= field_tag("Enroller", class: "ShowCase-enroller") do %>
            <%= view.enroller_name %>
          <%- end %>
        <%- end %>

        <%= section_tag("Contact", class: "ShowCase-contact") do %>
          <%= field_tag("Phone #", class: "ShowCase-phoneNumber") do %>
            +1 <%= number_to_phone(view.phone_number) %>
          <%- end %>

          <%= field_tag("Primary Residential Address", class: "ShowCase-address") do %>
            <% view.address.each do |line| %>
              <%= line %>
              <br>
            <% end %>
          <%- end %>
        <%- end %>

        <%= section_tag("Utility Account", class: "ShowCase-utilityAccount") do %>
          <%= field_tag("Supplier", class: "ShowCase-supplier") do %>
            <%= view.supplier_name %>
          <%- end %>

          <% if policy.permit?(:view_has_active_service) %>
            <%= field_tag(nil, "&nbsp".html_safe, class: "ShowCase-hasActiveService") do %>
              <span class="<%= cx("Checkbox", "is-checked" => view.active_service?) %>"></span> Active?
            <%- end %>
          <% end %>

          <%= field_tag("Account #", class: "ShowCase-accountNumber") do %>
            <%= view.account_number %>
          <%- end %>

          <%= field_tag("Arrears", class: "ShowCase-arrears") do %>
            <%= view.account_arrears %>
          <%- end %>
        <%- end %>

        <%= section_tag("MDHHS", class: "ShowCase-dhs") do %>
          <%= field_tag("Case #", class: "ShowCase-dhsNumber") do %>
            <%= view.dhs_number %>
          <%- end %>
        <%- end %>

        <%= section_tag("Household", class: "ShowCase-household") do %>
          <%= field_tag("Size", class: "ShowCase-householdSize") do %>
            <%= view.household_size %>
          <%- end %>

          <%= field_tag("Monthly Income", class: "ShowCase-monthlyIncome") do %>
            <%= view.household_income %>
          <%- end %>

          <% if policy.permit?(:view_ownership) %>
            <%= field_tag("Rent or Own?", class: "ShowCase-ownership") do %>
              <%= view.ownership %>
            <%- end %>
          <% end %>

          <% if policy.permit?(:view_is_primary_residence) %>
            <%= field_tag(nil, "&nbsp".html_safe, class: "ShowCase-isPrimaryResidence") do %>
              <span class="<%= cx("Checkbox", "is-checked" => view.primary_residence?) %>"></span> Primary Residence?
            <%- end %>
          <% end %>

          <%= field_tag("FPL Percentage", class: "ShowCase-fpl") do %>
            <%= view.fpl_percentage %>
          <%- end %>
        <%- end %>
      </section>

      <section id="documents" class="Panel-tab">
        <%= render(partial: "cases/documents", locals: { documents: view.documents }) %>
      </section>
    </article>

    <%=
      render(partial: "cohere/cases/chat", locals: {
        chat: @chat,
        recevier: view.recipient_first_name
      })
    %>
  </div>
</main>
