<%= section_tag(t(".title"), class: "ShowCase-household") do %>
  <%= field_tag(t(".size"), class: "ShowCase-size") do %>
    <%= view.household_size %>
  <%- end %>

  <% if permit?(:view_household_ownership) %>
    <%= field_tag(t(".ownership"), class: "ShowCase-ownership") do %>
      <%= view.household_ownership %>
    <%- end %>
  <% end %>

  <% if permit?(:view_household_primary_residence) %>
    <%= field_tag(nil, "&nbsp".html_safe, class: "ShowCase-residence") do %>
      <span class="<%= cx("Checkbox", "is-checked" => view.household_primary_residence?) %>"></span> <%= t(".primary-residence") %>
    <%- end %>
  <% end %>

  <%= field_tag(t(".proof-of-income"), class: "ShowCase-proofOfIncome") do %>
    <%= t("recipient.proof_of_income.#{view.household_proof_of_income}") %>
  <%- end %>

  <%= field_tag(t(".dhs-number"), class: "ShowCase-dhsNumber") do %>
    <%= view.household_dhs_number %>
  <%- end %>

  <%= field_tag(t(".income"), class: "ShowCase-monthlyIncome") do %>
    <%= view.household_income %>
  <%- end %>

  <%= field_tag(t(".fpl-percent.label"), class: "ShowCase-fplPercent") do %>
    <%= view.household_fpl_percent %>
  <%- end %>
<%- end %>
