<main class="EditCase Page">
  <header class="PageHeader">
    <%= back_link_tag %>

    <h1 class="PageHeader-title">
      <%= @case.recipient_name %>'s case
    </h1>
  </header>

  <div class="CaseDetail CaseDetail--edit">
    <div class="CaseDetail-menu">
      <nav class="CaseDetail-filters Filters Filters--vertical">
        <%= filter_for(:profile, active: errors?(@form.contact, @form.contract), selected: true) %>
        <%= filter_for(:household, active: errors?(@form.address, @form.household)) %>

        <% if permit?(:edit_supplier_account) %>
          <%= filter_for(:accounts, active: errors?(@form.supplier_account)) %>
        <% end %>

        <%= filter_for(:documents, active: errors?(@form.documents)) %>
      </nav>
    </div>

    <article class="CaseDetail-case">
      <div class="CaseDetail-bar">
        <p><%= @case.status_name %></p>
      </div>

      <%= form_for(@form, url: case_referrals_path, html: { class: "CaseDetail-content" }) do |f| %>
        <%= f.hidden_field(:program_id) %>

        <%- form_locals = { f: f, form: @form, view: @case } %>
        <%= filter_panel_tag(:profile, visible: true) do %>
          <%= render(partial: "cases/forms/details", locals: form_locals) %>
          <%= render(partial: "cases/forms/contact", locals: form_locals) %>

          <% if permit?(:edit_contract) %>
            <%= render(partial: "cases/forms/contract", locals: form_locals) %>
          <% end %>
        <%- end %>

        <%= filter_panel_tag(:household) do %>
          <%= render(partial: "cases/forms/address", locals: form_locals) %>
          <%= render(partial: "cases/forms/household", locals: form_locals) %>
        <%- end %>

        <% if permit?(:edit_supplier_account) %>
          <%= filter_panel_tag(:accounts) do %>
            <%= render(partial: "cases/forms/supplier_account", locals: form_locals) %>
          <%- end %>
        <% end %>

        <%= filter_panel_tag(:documents) do %>
          <%= render(partial: "cases/documents", locals: { documents: @form.documents.all }) %>
        <%- end %>

        <div class="Panel-actions">
          <%=
            f.submit(t(".actions.save"),
              class: "Button Button--action"
            )
          %>

          <%=
            f.submit(t(".actions.submit.name"),
              name: :submit,
              class: "Button Button--secondary",
              data: { confirm: t(".actions.submit.confirm") },
            )
          %>
        </div>
      <% end %>
    </article>

    <%=
      render(partial: "agent/cases/chat", locals: {
        chat: @case.chat,
        recevier: @case.recipient_first_name
      })
    %>
  </div>
</main>
