<main class="SelectProgram Page">
  <header class="PageHeader">
    <%= back_link_tag %>

    <h1 class="PageHeader-title">
      <%= t(".title", name: @case.recipient_name) %>
    </h1>
  </header>

  <div class="CaseDetail">
    <div class="CaseDetail-case">
      <%= tag.p(t(".instructions"), class: "SelectProgram-instructions") %>

      <%= form_for(@form, url: @case.start_referral_path, method: :get, html: { class: "SelectProgram-field BigField" }) do |f| %>
        <div class="BigField-input Select">
          <%=
            f.select(
              :program_id,
              @form.program_options,
              include_blank: t(".placeholder")
            )
          %>
        </div>

        <%= f.submit(t(".action"), class: "BigField-action") %>
      <%- end %>
    </div>

    <%=
      render(partial: "agent/cases/chat", locals: {
        chat: @case.chat,
        recevier: @case.recipient_first_name
      })
    %>
  </div>
</main>
