<main class="JoinChat Phone">
  <div class="JoinChat-frame Phone-frame">
    <div class="Phone-view">
      <article class="JoinChat-window">
        <header class="JoinChat-header">
          <h1>
            Welcome to Cohere.
          </h2>
          <h2>
            Please enter your phone number and 4-digit code to join the chat.
          </h2>
        </header>

        <%= form_for(:invite, url: chat_invites_path, html: { method: :patch, class: "JoinChat-form" }) do |f| %>
          <%= f.field(:phone_number) do %>
            <%= f.telephone_field(:phone_number, placeholder: number_to_phone("3134445555")) %>
          <%- end %>

          <%= f.field(:code) do %>
            <%= f.text_field(:code, maxlength: 4, placeholder: "1234") %>
          <%- end %>

          <%= link_to("Need a new code?", new_chat_invite_path, class: "JoinChat-codeLink") %>

          <%= f.submit("Join Chat", class: "JoinChat-action Button--action") %>
        <%- end %>
      </article>
    </div>
  </div>
</main>
