<main class="Page">
  <header class="PageHeader">
    <%= tag.h1(t(".title"), class: "PageHeader-title") %>
  </header>

  <ul id="case-list" class="CaseList">
    <%= tag.p(class: "CaseList-prompt") do %>
      <%= t(".subtitle", cta: link_to(t(".cta-link"), cases_path)).html_safe %>
    <%- end %>

    <% if @cases&.blank? %>
      <%= tag.p(t(".fallback"), class: "CaseList-fallback") %>
    <% else %>
      <%= render(partial: "governor/cases/cell", collection: @cases) %>

      <% case @demo_id %>
      <% when "s01" %>
        <%= demo_coachmark_tag(t("demo.role.state.mark")[0], anchor: :bottom) %>
      <% end %>
    <% end %>
  </ul>

  <%= pager_for(@page, of: "cases") %>
</main>
