<main class="Main SignIn">
  <div class="SignIn-panel">
    <div class="SignIn-left--inverted">
      <div class="SignIn-title">
        <%- scope = @invited ? ".invite" : ".reset" %>
        <h1><%= t("#{scope}.title") %></h1>
        <h2><%= t("#{scope}.prompt").html_safe %></h2>
      </div>
    </div>

    <div class="SignIn-right--inverted">
      <%= image_tag("logo-large-full.svg", height: 67, class: "SignIn-logo", alt: "Cohere Logo") %>

      <%- form_url = user_password_path(@user, token: @user.confirmation_token) %>
      <%= form_for(:password_reset, url: form_url, html: { method: :patch, class: "SignIn-form Form" }) do |f| %>
        <%= f.section(class: "SignIn-credentials") do %>
          <%= f.field(:password, t("users.password.label"), class: "SignIn-password") do %>
            <% f.password_field(:password) %>
          <% end %>

          <div class="SignIn-helpers">
            <%= f.field(:show_password, for: :show_password, bare: true, class: "SignIn-showPassword") do %>
              <%= check_box_tag(:show_password) %>
              <span>Show Password?</span>
            <% end %>
          </div>
        <% end %>

        <%= f.section(class: "SignIn-actions") do %>
          <%= f.submit(class: "SignIn-submit Button--action") %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
