<main class="EditCase Main">
  <header class="Main-header">
    <%= link_to("Back to Cases", cases_path, class: "Main-back") %>

    <h1 class="Main-title">
      Add a Case
    </h1>
  </header>

  <div class="CaseDetail">
    <%- form_class = "CaseForm CaseDetail-case Panel" %>
    <%= form_for(@form, url: cases_path, html: { class: form_class }) do |f| %>
      <%- form_locals = { f: f, form: @form, view: @view, policy: policy } %>

      <%= render(partial: "cases/forms/contact", locals: form_locals) %>
      <%= render(partial: "cases/forms/address", locals: form_locals) %>
      <%= render(partial: "cases/forms/supplier_account", locals: form_locals) %>

      <div class="Panel-actions">
        <%= f.submit("Save", class: "Button Button--action") %>
      </div>
    <%- end %>
  </div>
</main>
