<header class="Navigation">
  <%=
    link_to(queue_cases_path, class: "Navigation-logo") do
      navigation_icon(:logo, t(".logo"), width: 54)
    end
  %>

  <nav class="Navigation-links">
    <%= navigation_links %>
  </nav>

  <% if signed_in? %>
    <div class="NavigationProfile">
      <%= navigation_icon(:profile, "Profile") %>

      <div class="NavigationProfile-popup">
        <div class="NavigationProfile-links">
          <%= current_user.email %>
          <%=
            button_to(t(".sign-out"), sign_out_path,
              method: :delete,
              class: "Link"
            )
          %>
        </div>
      </div>
    </div>
  <% end %>
</header>
