<!DOCTYPE html>
<html>
  <head>
    <title>Cohere</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag("application", media: "all", "data-turbolinks-track": "reload") %>
    <%= javascript_pack_tag("application", defer: "defer", "data-turbolinks-track": "reload") %>

    <% if demo? %>
      <%= stylesheet_link_tag("demo", media: "all", "data-turbolinks-track": "reload") %>
      <%= javascript_pack_tag("demo", defer: "defer", "data-turbolinks-track": "reload") %>
    <% end %>
  </head>

  <%= layout_tag do %>
    <% if signed_in? && !settings.working_hours? %>
      <%= tag.div(t(".hours-banner"), class: "Layout-banner") %>
    <% end %>

    <div class="Layout-frame">
      <% if shows_navigation? %>
        <%= render(partial: "layouts/navigation") %>
      <% end %>

      <div class="Layout-content">
        <%= yield %>
      </div>

      <%= content_for(:modals) %>

      <% if flash.present? %>
        <%= render(partial: "layouts/flash") %>
      <% end %>
    </div>

    <% if demo? && @demo_id != "index" %>
      <%= button_to("/", method: :get, id: "demo-back", class: "DemoBackButton") do %>
        <%= tag.p(class: "DemoBackButton-label") do %>
          <%= t("demo.actions.back.label") %>
          <%= tag.span(demo_role.to_s.titlecase, class: "DemoBackButton-role") %>
        <%- end %>
        <%= tag.p(t("demo.actions.back.prompt"), class: "DemoBackButton-prompt") %>
      <%- end %>
    <% end %>
  <%- end %>
</html>
