<!DOCTYPE html>
<html>
  <head>
    <title>Cohere</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag("application", media: "all", "data-turbolinks-track": "reload") %>
    <%= javascript_pack_tag("application", defer: "defer", "data-turbolinks-track": "reload") %>

    <% if demo? %>
      <%= stylesheet_link_tag("demo", media: "all", "data-turbolinks-track": "reload") %>
      <%= javascript_pack_tag("demo", defer: "defer", "data-turbolinks-track": "reload") %>
    <% end %>
  </head>

  <%= layout_tag do %>
    <% if signed_in? && !settings.working_hours? %>
      <%= tag.div(t(".hours-banner"), class: "Layout-banner") %>
    <% end %>

    <div id="frame" class="Layout-frame">
      <% if shows_navigation? %>
        <%= render(partial: "layouts/navigation") %>
      <% end %>

      <div id="container" class="Layout-content">
        <%= yield %>
      </div>

      <%= content_for(:modals) %>

      <% if flash.present? %>
        <%= render(partial: "layouts/flash") %>
      <% end %>
    </div>

    <% if demo? && @demo_role != nil %>
      <div class="DemoNav">
        <p class="DemoNav-label">
          <%= t("demo.actions.label") %>
          <%= tag.span(t("demo.role.#{@demo_role}.name"), class: "DemoNav-role") %>
        </p>

        <nav class="DemoNav-actions">
          <%= link_to("/", class: "DemoNav-home", data: { demo: true }) do %>
            <%= navigation_icon_tag(:home, t("demo.actions.home"), width: 15, height: 11) %>
            <%= t("demo.actions.home") %>
          <%- end %>
        </nav>
      </div>
    <% end %>

    <% if demo? && @demo_time != nil %>
      <script id="time-now">
        <%= @demo_time %>
      </script>
    <% end %>
  <%- end %>
</html>
