<!DOCTYPE html>
<html>
  <head>
    <title>Cohere</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag("application", media: "all", "data-turbolinks-track": "reload") %>
    <%= javascript_pack_tag("application", defer: "defer", "data-turbolinks-track": "reload") %>
  </head>

  <%= layout_tag do %>
    <% if shows_navigation? %>
      <%= render(partial: "layouts/navigation") %>
    <% end %>

    <div class="Layout-content">
      <%= yield %>
    </div>

    <%= content_for(:modals) %>

    <% if flash.present? %>
      <%= render(partial: "layouts/flash") %>
    <% end %>
  <%- end %>
</html>
